@import 'variables/loader';
@import 'vendor/loader';
@import 'template/loader';


.banner {
	margin-bottom: 30px;
	border-radius: 4px;
	.banner-wrapper {
		padding: 30px 50px;
		.banner-headline 	{ font-size: 48px;}
		.banner-text		{ font-size: 32px;}
		&.color-1 { color: #FFF;}
		a { .btn; 
			.btn-default;}
	}
}