// |--------------------------------------------------------------------------
// | Content with left and right sidebar with top and footer
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .panels-layout--content-with-left-and-right-sidebar-top-footer
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

// --------------------------------------------------
// Mixins
// --------------------------------------------------

@mixin panels-layout-content-with-left-and-right-sidebar-top-footer-mixin() {}

// --------------------------------------------------
// Styling
// --------------------------------------------------

.panels-layout--content-with-left-and-right-sidebar-top-footer {

  .pane-node-terms {

    // Tags
    .links {
      list-style: none;
      padding: 0;

      li {
        display: inline-block;

        margin-right: 10px;
        padding-bottom: 10px;

        a {
          @extend .label;
          @extend .label-default;
        }
      }
    }
  }
}

// --------------------------------------------------
// Variants
// --------------------------------------------------

.panels-layout--content-with-left-and-right-sidebar-top-footer {}

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@media #{$breakpoint-mobile-and-up} {}

// Mobile - only
@media #{$breakpoint-mobile-only} {}

// Tablet - and up
@media #{$breakpoint-tablet-and-up} {}

// Tablet - only
@media #{$breakpoint-tablet-only} {}

// Desktop - and up
@media #{$breakpoint-desktop-and-up} {}

// Desktop - only
@media #{$breakpoint-desktop-only} {}

// Large desktop - and up
@media #{$breakpoint-large-desktop-and-up} {}

// Print
@media print {}

// Touch
.touchevents {}

// No touch
.no-touchevents {}
