// |--------------------------------------------------------------------------
// | Variables
// |--------------------------------------------------------------------------
// |

// Inner spacing
@default-left-right-spacing: floor( (@grid-gutter-width / 2) );
@default-heading-top-bottom-spacing: 4px;
@default-body-top-bottom-spacing: 10px;
@default-footer-top-bottom-spacing: 6px;
