// |--------------------------------------------------------------------------
// | Box
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .fki-box
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------


@fki-box-background-color: 	#fff;
@fki-box-border-radius: 	 	@border-radius-base;

@fki-box-heading-top-bottom-spacing: 10px;
@fki-box-heading-left-right-spacing: @default-left-right-spacing;

@fki-box-body-top-bottom-spacing: 5px;
@fki-box-body-left-right-spacing: @default-left-right-spacing;

@fki-box-footer-top-bottom-spacing: 5px;
@fki-box-footer-left-right-spacing: @default-left-right-spacing;

// Responsive
@fki-box-xs-stacked-spacing: floor( (@grid-gutter-width / 3) );
@fki-box-sm-stacked-spacing: floor( (@grid-gutter-width / 3) );
@fki-box-md-stacked-spacing: floor( (@grid-gutter-width / 2) );
@fki-box-lg-stacked-spacing: floor( (@grid-gutter-width / 2) );

// --------------------------------------------------
// Styling
// --------------------------------------------------

// Box
.fki-box {
	background-color: @fki-box-background-color;
	border-radius: @fki-box-border-radius;

	.fki-box-heading {
		padding: @fki-box-heading-top-bottom-spacing @fki-box-heading-left-right-spacing;
		.border-top-radius(@fki-box-border-radius);

		.pane-title,
		.fki-box-heading-title {
			margin: 0;
			.heading-h4;
			text-transform: uppercase;
		}
	}

	.fki-box-body {
		padding: @fki-box-body-top-bottom-spacing @fki-box-body-left-right-spacing;

		+ .fki-box-footer {
			padding-top: 0;
		}
	}

	.fki-box-footer {
		padding: @fki-box-footer-top-bottom-spacing @fki-box-footer-left-right-spacing;
	}
}

// --------------------------------------------------
// Variants
// --------------------------------------------------

.fki-box,
.fki-box-primary {
	.fki-mixin-box(@state-primary-bg, @state-primary-text);
}

.fki-box-secondary {
	.fki-mixin-box(@state-secondary-bg, @state-secondary-text);
}

.fki-box-tertiary {
	.fki-mixin-box(@state-tertiary-bg, @state-tertiary-text);
}

.fki-box-quaternary {
	.fki-mixin-box(@state-quaternary-bg, @state-quaternary-text);
}

.fki-box-quinary {
	.fki-mixin-box(@state-quinary-bg, @state-quinary-text);
}

.fki-box-watermarked {

	&,
	>	.fki-box {
		background-image: url('../img/logo_watermark.png');
		background-repeat: no-repeat;
		background-position: bottom right @default-left-right-spacing;
	}
}

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile
@media @media-query-mobile {

	// Box
	.fki-box {}
}

// Mobile - only
@media @media-query-mobile-only {

	// Box
	.fki-box {
		margin-bottom: @fki-box-xs-stacked-spacing !important;;
	}

	.fki-box-small-spacing {

		&.fki-box,
		> .fki-box {
			margin-bottom: floor( (@fki-box-xs-stacked-spacing / 3) ) !important;;
		}
	}

	.fki-box-large-spacing {

		&.fki-box,
		> .fki-box {
			margin-bottom: floor( (@fki-box-xs-stacked-spacing * 2) ) !important;;
		}
	}
}

// Tablet
@media @media-query-tablet {

	// Box
	.fki-box {}
}

// Tablet - only
@media @media-query-tablet-only {

	// Box
	.fki-box {
		margin-bottom: @fki-box-sm-stacked-spacing !important;;
	}

	.fki-box-small-spacing {

		&.fki-box,
		> .fki-box {
			margin-bottom: floor( (@fki-box-sm-stacked-spacing / 3) ) !important;;
		}
	}

	.fki-box-large-spacing {

		&.fki-box,
		> .fki-box {
			margin-bottom: floor( (@fki-box-sm-stacked-spacing * 2) ) !important;;
		}
	}
}

// Desktop
@media @media-query-desktop {

	// Box
	.fki-box {}
}

// Desktop - only
@media @media-query-desktop-only {

	// Box
	.fki-box {
		margin-bottom: @fki-box-md-stacked-spacing !important;;
	}

	.fki-box-small-spacing {

		&.fki-box,
		> .fki-box {
			margin-bottom: floor( (@fki-box-md-stacked-spacing / 3) ) !important;;
		}
	}

	.fki-box-large-spacing {

		&.fki-box,
		> .fki-box {
			margin-bottom: floor( (@fki-box-md-stacked-spacing * 2) ) !important;;
		}
	}
}

// Large desktop
@media @media-query-large-desktop {

	// Box
	.fki-box {}
}

// Large desktop - only
@media @media-query-large-desktop-only {

	// Box
	.fki-box {
		margin-bottom: @fki-box-lg-stacked-spacing !important;;
	}

	.fki-box-small-spacing {

		&.fki-box,
		> .fki-box {
			margin-bottom: floor( (@fki-box-lg-stacked-spacing / 3) ) !important;;
		}
	}

	.fki-box-large-spacing {

		&.fki-box,
		> .fki-box {
			margin-bottom: floor( (@fki-box-lg-stacked-spacing * 2) ) !important;
		}
	}
}

// Print
@media print {

	// Box
	.fki-box {}
}

// Touch
.touch {

	// Box
	.fki-box {}
}

// No touch
.no-touch {

	// Box
	.fki-box {}
}

// --------------------------------------------------
// Mixins
// --------------------------------------------------

// Box mixin
.fki-mixin-box(@heading-background-color, @heading-font-color) {

	&,
	>	.fki-box {

		.fki-box-heading {
			background-color: @heading-background-color;

			.pane-title,
			.fki-box-heading-title {

				&,
				> a {

					&,
					&:hover,
					&:focus,
					&:active {
						color: @heading-font-color;
					}
				}
			}
		}
	}
}
