$oplev-syddjurs-top-level-for-boern: $brand-primary;
$oplev-syddjurs-top-level-kunst-og-kultur: $brand-secondary;
$oplev-syddjurs-top-level-natur-og-friluftsliv: $brand-tertiary;
$oplev-syddjurs-top-level-sport-og-fritid: $brand-quaternary;
