// |--------------------------------------------------------------------------
// | Breadcrumb
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .breadcrumb
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

// --------------------------------------------------
// Mixins
// --------------------------------------------------

@mixin breadcrumb-mixin() {}

// --------------------------------------------------
// Styling
// --------------------------------------------------

.breadcrumb {

  > li {
    font-weight: $font-weight-bold;
    font-size: $font-size-large;

    &:first-child {
      padding-left: 0;
    }
  }

  > .active {
    font-size: ( $font-size-large + 4px );
  }

  a {

    &, &:hover {
      color: $text-color;
    }
  }
}

// --------------------------------------------------
// Variants
// --------------------------------------------------

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@media #{$breakpoint-mobile-and-up} {}

// Mobile - only
@media #{$breakpoint-mobile-only} {}

// Tablet - and up
@media #{$breakpoint-tablet-and-up} {}

// Tablet - only
@media #{$breakpoint-tablet-only} {}

// Desktop - and up
@media #{$breakpoint-desktop-and-up} {}

// Desktop - only
@media #{$breakpoint-desktop-only} {}

// Large desktop - and up
@media #{$breakpoint-large-desktop-and-up} {}

// Print
@media print {}

// Touch
.touchevents {}

// No touch
.no-touchevents {}
