// |--------------------------------------------------------------------------
// | Carousel
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .carousel
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

// --------------------------------------------------
// Mixins
// --------------------------------------------------

@mixin carousel-mixin() {}

// --------------------------------------------------
// Styling
// --------------------------------------------------

.carousel {}

.carousel-control {

  .icon-prev,
  .icon-next {
    @extend .fa;
  }

  .icon-prev {

    &:before {
      content: $fa-var-angle-left;
    }
  }

  .icon-next {

    &:before {
      content: $fa-var-angle-right;
    }
  }
}

.carousel-indicators {
  width: 100%;
  text-align: center;

  // Resets
  left: 0;
  margin-left: 0;

  li {
    width:  16px;
    height: 16px;

    margin: 5px;

    border-width: 0;
    border-radius: 16px;

    background-color: rgba($carousel-indicator-active-bg, .5);
  }

  .active {
    width:  16px;
    height: 16px;

    margin: 5px;

    border-width: 0;

    background-color: $carousel-indicator-active-bg;
  }
}

// --------------------------------------------------
// Variants
// --------------------------------------------------

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@media #{$breakpoint-mobile-and-up} {}

// Mobile - only
@media #{$breakpoint-mobile-only} {

  .carousel-control {
    display: none;
  }
}

// Tablet - and up
@media #{$breakpoint-tablet-and-up} {

  .carousel {

    .container {
      max-width: calc(100% - 30%);
    }
  }

  .carousel-indicators {
    text-align: right;
    padding-right: 90px;
  }
}

// Tablet - only
@media #{$breakpoint-tablet-only} {}

// Desktop - and up
@media #{$breakpoint-desktop-and-up} {}

// Desktop - only
@media #{$breakpoint-desktop-only} {}

// Large desktop - and up
@media #{$breakpoint-large-desktop-and-up} {}

// Print
@media print {}

// Touch
.touchevents {}

// No touch
.no-touchevents {}
