// |--------------------------------------------------------------------------
// | Flexy navigation
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .flexy-navigation
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

$flexy-navigation-dropdown-menu-toggle-height: 60px;
$flexy-navigation-dropdown-menu-toggle-width: 60px;

// Responsive

// --------------------------------------------------
// Mixins
// --------------------------------------------------

@mixin flexy-navigation-mixin() {}

// --------------------------------------------------
// Styling
// --------------------------------------------------

.flexy-navigation__item--dropdown {

  > a {

    &:after {
      display: none;
    }
  }
}

.flexy-navigation__item {
  position: relative;

  > a {
    display: block !important;

    transition: none;
  }

  &:after {
    position: absolute;

    display: block;

    right: 0;
    bottom: 0;
    left: 0;

    height: 2px;

    content: "";

    background-color: transparent;
  }
}

.flexy-navigation__item__dropdown-menu__toggle {
  position: absolute;

  display: flex;

  cursor: pointer;
  cursor: hand;

  right: 0;
  bottom: 0;

  align-items: center;
  justify-content: center;

  height: $flexy-navigation-dropdown-menu-toggle-height;
  width: $flexy-navigation-dropdown-menu-toggle-width;

  font-size: 32px;

  border-top-left-radius: $btn-border-radius-base;

  color: #fff;
  background-color: $brand-primary;
}

.flexy-navigation__item__dropdown-menu {
  width: 100%;

  margin-top: -1px;
  padding-top: floor( ( $grid-gutter-width / 2 ) );
  padding-bottom: floor( ( ( $grid-gutter-width / 2 ) + $flexy-navigation-dropdown-menu-toggle-height ) );

  border-top: 1px solid $border-color;

  text-align: initial; // This is normally done at library level but since we are just extending ...full-width

  // Reset
  min-width: 0;
  max-width: none;
}

.flexy-navigation__item--dropdown {

  &:hover {

    > .flexy-navigation__item__dropdown-menu,
    > .flexy-navigation__item__dropdown-megamenu {
      display: none;
    }
  }

  &.hover {

    > .flexy-navigation__item__dropdown-menu,
    > .flexy-navigation__item__dropdown-megamenu {
      display: block;
    }
  }
}

// --------------------------------------------------
// Variants
// --------------------------------------------------

.flexy-navigation__item--primary {

  &.active,
  &.active-trail {

    &:after {
      background-color: $brand-primary;
    }
  }

  &:hover {
    background-color: $brand-primary;

    .flexy-navigation__item__dropdown-menu {
      background-color: $brand-primary;
      border-top-color: lighten($brand-primary, 10%);
    }
  }
}

.flexy-navigation__item--secondary {

  &.active,
  &.active-trail {

    &:after {
      background-color: $brand-secondary;
    }
  }

  &:hover {
    background-color: $brand-secondary;

    .flexy-navigation__item__dropdown-menu {
      background-color: $brand-secondary;
      border-top-color: lighten($brand-secondary, 10%);
    }
  }
}

.flexy-navigation__item--tertiary {

  &.active,
  &.active-trail {

    &:after {
      background-color: $brand-tertiary;
    }
  }

  &:hover {
    background-color: $brand-tertiary;

    .flexy-navigation__item__dropdown-menu {
      background-color: $brand-tertiary;
      border-top-color: lighten($brand-tertiary, 10%);
    }
  }
}

.flexy-navigation__item--quaternary {

  &.active,
  &.active-trail {

    &:after {
      background-color: $brand-quaternary;
    }
  }

  &:hover {
    background-color: $brand-quaternary;

    .flexy-navigation__item__dropdown-menu {
      background-color: $brand-quaternary;
      border-top-color: lighten($brand-quaternary, 10%);
    }
  }
}

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@media #{$breakpoint-mobile-and-up} {}

// Mobile - only
@media #{$breakpoint-mobile-only} {}

// Tablet - and up
@media #{$breakpoint-tablet-and-up} {}

// Tablet - only
@media #{$breakpoint-tablet-only} {}

// Desktop - and up
@media #{$breakpoint-desktop-and-up} {}

// Desktop - only
@media #{$breakpoint-desktop-only} {}

// Large desktop - and up
@media #{$breakpoint-large-desktop-and-up} {}

// Print
@media print {}

// Touch
.touchevents {}

// No touch
.no-touchevents {}
