// |--------------------------------------------------------------------------
// | Flexy navigation
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .flexy-navigation
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

// Responsive

// --------------------------------------------------
// Mixins
// --------------------------------------------------

@mixin flexy-navigation-mixin() {}

// --------------------------------------------------
// Styling
// --------------------------------------------------

.flexy-navigation__item--dropdown {

  > a {

    &:after {
      display: none;
    }
  }
}

.flexy-navigation__item {
  position: relative;

  > a {
    display: block !important;
  }

  &:after {
    position: absolute;

    display: block;

    right: 0;
    bottom: 0;
    left: 0;

    height: 2px;

    content: "";

    background-color: transparent;
  }
}

// --------------------------------------------------
// Variants
// --------------------------------------------------

.flexy-navigation__item--primary {

  &.active,
  &.active-trail,
  &:hover {

    &:after {
      background-color: $brand-primary;
    }
  }
}

.flexy-navigation__item--secondary {

  &.active,
  &.active-trail,
  &:hover {

    &:after {
      background-color: $brand-secondary;
    }
  }
}

.flexy-navigation__item--tertiary {

  &.active,
  &.active-trail,
  &:hover {

    &:after {
      background-color: $brand-tertiary;
    }
  }
}

.flexy-navigation__item--quaternary {

  &.active,
  &.active-trail,
  &:hover {

    &:after {
      background-color: $brand-quaternary;
    }
  }
}

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@media #{$breakpoint-mobile-and-up} {}

// Mobile - only
@media #{$breakpoint-mobile-only} {}

// Tablet - and up
@media #{$breakpoint-tablet-and-up} {}

// Tablet - only
@media #{$breakpoint-tablet-only} {}

// Desktop - and up
@media #{$breakpoint-desktop-and-up} {}

// Desktop - only
@media #{$breakpoint-desktop-only} {}

// Large desktop - and up
@media #{$breakpoint-large-desktop-and-up} {}

// Print
@media print {}

// Touch
.touchevents {}

// No touch
.no-touchevents {}
