// |--------------------------------------------------------------------------
// | Views exposed form
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .views-exposed-form
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

// --------------------------------------------------
// Mixins
// --------------------------------------------------

@mixin views-exposed-form-mixin() {}

// --------------------------------------------------
// Styling
// --------------------------------------------------

.views-exposed-form {

  .views-widget {
    display: inline-block;

    > div {
      display: inline-block;
    }
  }

  .views-widget-filter-date_filter {

    .form-group {
      max-width: 170px;
    }

    label {
      display: block;

      margin: 0;
      margin-bottom: 4px;

      font-family: $font-family-base;
      font-size: $font-size-small;
      font-weight: $font-weight;

      text-transform: uppercase;

      color: $text-color-light;
    }

    .form-control {
      padding-left: 0;

      font-weight: $font-weight-bold;
      font-size: $font-size-large;
      color: $text-color-dark;

      background-color: transparent;

      &, &:hover, &:focus {
        border-color: transparent;
      }
    }
  }

  .btn {

    &.btn-default,
    &.btn-info {
      @extend .btn-primary;
    }
  }
}

// --------------------------------------------------
// Variants
// --------------------------------------------------

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@media #{$breakpoint-mobile-and-up} {}

// Mobile - only
@media #{$breakpoint-mobile-only} {}

// Tablet - and up
@media #{$breakpoint-tablet-and-up} {}

// Tablet - only
@media #{$breakpoint-tablet-only} {}

// Desktop - and up
@media #{$breakpoint-desktop-and-up} {}

// Desktop - only
@media #{$breakpoint-desktop-only} {}

// Large desktop - and up
@media #{$breakpoint-large-desktop-and-up} {}

// Print
@media print {}

// Touch
.touchevents {}

// No touch
.no-touchevents {}
