// |--------------------------------------------------------------------------
// | Teaser
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .entity-teaser--os2web-kulturnaut-knactivity
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

$entity-teaser-date-margin-top: 35px;

// --------------------------------------------------
// Mixins
// --------------------------------------------------

@mixin entity-teaser-mixin() {}

// --------------------------------------------------
// Styling
// --------------------------------------------------

.entity-teaser--os2web-kulturnaut-knactivity {
  position: relative;

  margin-top: $entity-teaser-date-margin-top;

  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  .entity-teaser__date {
    position: absolute;

    top: (0 - $entity-teaser-date-margin-top);
    right: $entity-teaser-body-padding-left-right;
  }

  .entity-teaser__heading {

    + .flexy-list {
      margin-top: 10px;
    }
  }

  .entity-teaser__image {
    height: 220px;
  }

  .flexy-list {

    > * {
      display: inline-block;

      &:after {
        // [converter] Workaround for https://github.com/sass/libsass/issues/1115
        $nbsp: "\00a0";
        content: "|#{$nbsp}"; // Unicode space added since inline-block means non-collapsing white-space
        padding: 0 5px;
      }

      &:last-child {

        &:after {
          display: none;
        }
      }
    }
  }

  .entity-teaser__top-level-venue {
    font-size: $font-size-large;
    font-weight: $font-weight-bold;
  }
  .entity-teaser__current-venue {
    font-size: $font-size-large;
    font-weight: $font-weight-bold;
  }

  .entity-teaser__body {
    background-color: $entity-teaser-background-color;
  }

  &:hover {

    .entity-teaser__date {
      top: $entity-teaser-body-padding-top-bottom;

      border-color: #fff;

      .field {
        color: #fff;
      }
    }

    .entity-teaser__heading__title {
      color: #fff;
    }

    .entity-teaser__body {
      background-color: transparent;
    }

    .entity-teaser__top-level-venue {
      color: #fff;
    }
    .entity-teaser__current-venue {
      color: #fff;
    }
  }
}

// --------------------------------------------------
// Variants
// --------------------------------------------------

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@media #{$breakpoint-mobile-and-up} {}

// Mobile - only
@media #{$breakpoint-mobile-only} {}

// Tablet - and up
@media #{$breakpoint-tablet-and-up} {}

// Tablet - only
@media #{$breakpoint-tablet-only} {}

// Desktop - and up
@media #{$breakpoint-desktop-and-up} {}

// Desktop - only
@media #{$breakpoint-desktop-only} {}

// Large desktop - and up
@media #{$breakpoint-large-desktop-and-up} {}

// Print
@media print {}

// Touch
.touchevents {}

// No touch
.no-touchevents {}
