/**
 * This file is only for really global styles. None specific styles.
 */

// H1-h6 tags
@font-face {
  font-family: 'Open Sans Light';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(https://themes.googleusercontent.com/static/fonts/opensans/v6/DXI1ORHCpsQm3Vp6mXoaTRsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://themes.googleusercontent.com/static/fonts/opensans/v6/uYKcPVoh6c5R0NpdEY5A-Q.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans Semibold';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(https://themes.googleusercontent.com/static/fonts/opensans/v6/MTP_ySUJH_bn48VBG8sNShsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}
h1,
h2,
h3,
h4,
h5,
h6 {

}

h3,
h6 {
  font-weight: bold;
}

body {
  /*background: url(../images/underside.jpg) no-repeat fixed;*/
  background-size: cover;
  .form-control {
    color: black;
    padding: 0px 12px;
  }
}

section.outer {
  margin-bottom: 20px;
}


.main-container {
  border-bottom: 1px solid white;
  background-image: rgba(223, 222, 215, 0.9); // #dfded7 Opacity 90%
  border-left: 1px solid rgba(255, 255, 255, 0.8);
  border-right: 1px solid rgba(255, 255, 255, 0.8); 
  
}
.not-front .main-container {
  
 /* #gradient > .vertical-three-colors(#fff, rgba(223, 222, 215, 0.9), 250px, rgba(223, 222, 215, 0.9));*/
 margin-bottom: 40px;
}
.main-container,
.header_svendborg .region-navigation.container {
  border-left: none; // Default on non-rgba browsers.
  border-left: 1px solid rgba(255, 255, 255, 0.6);
  border-right: none; // Default on non-rgba browsers.
  border-right: 1px solid rgba(255, 255, 255, 0.6);

  -webkit-background-clip: padding;
  background-clip: padding-box;
}

 h2.block-title {
        font-size: 24px;
        font-family: @font-familiy-web;
         
    }
// feedback form
#block-feedback-form {
  top:  170px;
  right: 0px;
  z-index: 900;
  width: 27px;
  .feedback-help {
    font-size: 14px;
  }
  h2 {
    font-size: 0;
    span.feedback-link {
      .sprite(@feedback-side);
      font-size: 0;
      float: left;
      display: block;
      span#feedback-form-toggle {
        font-size: 0px;
      }
    }
  }
  .form-actions {
    text-align: center;
  }

  .field-type-text {
    label {
      display: inline-block;
      width: 52px;
    }
    input {
      display: inline-block;
      width: 78%;
      border-radius: 0;
      border: 2px solid #ccc;
      height: 2.3em;
    }
  }
  form {
    opacity: 1;
    border: 3px solid @brand-lightgreen;
    border-bottom-left-radius: 3px;
    padding: 20px 20px;
    width: 300px;
    margin-left: 29px;
  }
  .resizable-textarea textarea {
    border-radius: 0;
  }
  #feedback-status-message {
    position: absolute;
    top: 25px;
    right: 40px;
    padding: 0px 10px;
    font-size: 18px;
    height: 20px;
    font-weight: bold;
  }
  .feedback-messages {
    max-height: 125px;
    overflow-y: scroll;
  }
  #feedback-submit.btn-default {
    .pretty-buttons(@btn-primary-color, @brand-lightgreen, @btn-primary-bg);
  }
}

// cittaslow
#block-cittaslow-block {
  top: 320px;
  right: 0;
  z-index: 950;
  width: 51px;
  position: fixed;
  span.cittaslow-link {
    .sprite(@citslow-open);
    font-size: 0;
    float: left;
    display: block;
    cursor: pointer;
  }
  #block-block-cittaslow{
    opacity: 1;
    border: 3px solid #EE9727;
    border-bottom-left-radius: 3px;
    padding: 20px 20px;
    width: 300px;
    margin-left: 51px;
    background-color: #fff;
    max-width: 300px;
    margin-top: 49px;
    button {
      color:  #fff;
      &:hover{
        color: #fff;
      }
    }
  }
}

.main-container .form-search {
  input:focus {
    border: 4px solid @brand-darkgreen;
  }
}
/****** GRADIENTS *******/
.gradient-lightgreen,
.panel-lightgreen > .panel-heading{
     #gradient > .vertical(@brand-lightgreen, @brand-ligherdarkgreen, 0%, 55%);
     
}

.gradient-deepdarkgreen,
a.gradient-deepdarkgreen{
    #gradient > .vertical(@brand-lightgreen, @brand-deepdarkgreen, 0%, 100%);
}

.gradient-darkgreen,
.frontpage-nodes .views-row a:hover,
.region-sidebar-first ul.menu > li.active-trail > a{
     #gradient > .vertical(@brand-lightgreen, @brand-darkgreen, 0%, 55%);
}

.page-node .region-content .field-date {
    margin-top: 15px;
}
